* {
	border: 1px solid orange;
}

.tbbody {
	background-color: gray;
	width: 550px;
}

.logo td h1 {
	color: #E7393A;
	margin-right: 0 auto;
	margin-left: 0 auto;
}

.title {
	background-color: #E7393A;
}

