<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="margin: 0px; padding: 0px; height: 100% !important; width: 100% !important; border-collapse: collapse; background-color: rgb(242, 242, 242);">
	<tbody>
		<tr>
			<td align="center" valign="top" id="bodyCell" style="margin: 0px; padding: 20px; height: 100% !important; width: 100% !important; border-top-width: 0px;">
	        	<!-- BEGIN TEMPLATE // -->
	        	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border-collapse: collapse; border:0px;">
                	<tbody>
                		<tr>
	                    	<td align="center" valign="top">
	                        	<!-- BEGIN PREHEADER // -->
	                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader" style="border-collapse: collapse; border-top-width: 0px; border-bottom-width: 0px; background-color: rgb(255, 255, 255);">
	                            	<tbody><tr>
	                                	<td valign="top" style="padding-top: 9px;"></td>
	                                </tr></tbody>
	                            </table><!-- // END PREHEADER -->
	                        </td>
                        </tr>
                        <tr>
                        	<td align="center" valign="top">
                                <!-- BEGIN HEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-collapse: collapse; border-top-width: 0px; border-bottom-width: 0px; background-color: rgb(255, 255, 255);">
                                	<tbody>
                                		<tr>
                                        	<td valign="top">
                                        		<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                     				<tbody>
                                     					<tr>
                                     						<td valign="top" style="padding: 9px;">
                                     							<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                     								<tbody>
                                     									<tr>
                                     										<td valign="top" style="padding: 0px 9px;">
                                     											<img align="left" alt="" src="https://gallery.mailchimp.com/30eb4093a8a406ae005e7c504/images/feb377f2-6b29-49f3-aa44-b62e87de51b5.png" width="560" style="border: 0px; outline: none; text-decoration: none; vertical-align: bottom; max-width: 560px; padding-bottom: 0px; display: inline !important;">
                                     										</td>
                                     									</tr>
                                     								</tbody>
                                     							</table>
                                     						</td>
                                     					</tr>
                                     				</tbody>
                                     			</table>
                                     		</td>
                                        </tr>
                                    </tbody>
                                </table><!-- // END HEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN BODY // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody" style="border-collapse: collapse; border-top-width: 0px; border-bottom-width: 0px; background-color: rgb(255, 255, 255);">
                                    <tbody>
                                    	<tr>
                                        	<td valign="top">
                                        		<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                        			<tbody>
                                        				<tr>
                                        					<td valign="top">
                                        						<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                                        							<tbody>
                                        								<tr>
                                        									<td valign="top" style="color: rgb(96, 96, 96); font-family: Helvetica; font-size: 15px; line-height: 150%; text-align: left; padding: 9px 18px;">
                                        										<h1 style="margin: 0px; padding: 0px; display: block; font-family: Helvetica; font-size: 40px; font-style: normal; font-weight: bold; line-height: 125%; letter-spacing: -1px; text-align: center; color: rgb(96, 96, 96) !important;"><img align="center" height="40" src="https://gallery.mailchimp.com/30eb4093a8a406ae005e7c504/images/343ce42d-9e36-43e4-8f6b-ea156926c48d.png" style="border: 0px; outline: none; text-decoration: none; height: auto !important; width: 200px; margin: 0px;" width="200"></h1>&nbsp;
                                        										<div style="text-align: center;">Welcome to Charlie! Your very own office manager for $99/month!<br><br>We cant wait to meet you and get to know how we can make your life better! We are here to coordinate all your outsourced tasks 24/7. Whether it's booking travel, coordinating a business lunch, or maybe organizing a hell of a team night, Charlie! can help you have an exceptional experience all by a simple text or email! The best part being that after working with you sometime, your Charlie! will be able to coordinate all tasks exactly how you would have liked!<br><br>
																				<img align="center" height="330" src="https://gallery.mailchimp.com/30eb4093a8a406ae005e7c504/images/1203c683-2e1e-4e76-80dd-b96a9f10ccb8.png" style="border: 0px; outline: none; text-decoration: none; height: auto !important; width: 560px; margin: 0px;" width="560"><br><br>Let us begin our journey to a delightful partnership by scheduling a welcome meeting with your Charlie! You can book a time to meet here at [Calendly]! In the interim, if you ever need anything immediately, even before your first meeting, just start texting us at (209) 881-7961; we are&nbsp;here to help you Get Home Early!<br><br>Cheers,<br>
																				<img align="center" height="40" src="https://gallery.mailchimp.com/30eb4093a8a406ae005e7c504/images/92f0042b-14e7-4215-a072-5aa54a7c0d02.png" style="border: 0px; outline: none; text-decoration: none; height: auto !important; width: 200px; margin: 0px;" width="200"></div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
												<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
													<tbody>
														<tr>
															<td style="padding: 18px;">
																<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(226, 226, 226);">
																	<tbody>
																		<tr>
																			<td>
																				<span></span>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
                                        </tr>
                                    </tbody>
                                </table><!-- // END BODY -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN FOOTER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter" style="border-collapse: collapse; border-top-width: 0px; border-bottom-width: 0px; background-color: rgb(255, 255, 255);">
                                    <tbody>
                                    	<tr>
                                        	<td valign="top" style="padding-bottom: 9px;">
                                        		<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                        			<tbody>
                                        				<tr>
                                        					<td valign="top">
                                        						<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                                        							<tbody>
                                        								<tr>
                                        									<td valign="top" style="color: rgb(96, 96, 96); font-family: Helvetica; font-size: 11px; line-height: 125%; text-align: left; padding: 9px 18px;">
                                        										<div style="text-align: center;">Follow Us:<br><br>
																					<a href="http://www.getmecharlie.com" target="_blank" style="word-wrap: break-word; color: rgb(96, 96, 96); font-weight: normal; text-decoration: underline;"><img align="none" height="25" src="https://gallery.mailchimp.com/30eb4093a8a406ae005e7c504/images/69e0720e-8364-478a-bf5a-6c497bb805cc.png" style="border: 0px; outline: none; text-decoration: none; height: auto !important; width: 25px; margin: 0px;" width="25"></a>&nbsp;&nbsp;&nbsp;
																					<a href="https://www.facebook.com/pages/Getmecharlie/900477330038787?ref=hl" target="_blank" style="word-wrap: break-word; color: rgb(96, 96, 96); font-weight: normal; text-decoration: underline;"><img align="none" height="25" src="https://gallery.mailchimp.com/30eb4093a8a406ae005e7c504/images/050f64c8-8f87-430d-abd1-ad62567ab717.png" style="border: 0px; outline: none; text-decoration: none; height: auto !important; width: 25px; margin: 0px;" width="25"></a>&nbsp;&nbsp;&nbsp;&nbsp;
																					<a href="http://www.twitter.com/GetMeCharlie" target="_blank" style="word-wrap: break-word; color: rgb(96, 96, 96); font-weight: normal; text-decoration: underline;"><img align="none" height="25" src="https://gallery.mailchimp.com/30eb4093a8a406ae005e7c504/images/1dc1ec91-a00a-4d0c-aae6-022828768b58.png" style="border: 0px; outline: none; text-decoration: none; height: auto !important; width: 25px; margin: 0px;" width="25"></a>&nbsp; &nbsp;&nbsp;
																					<a href="http://www.instagram.com/GetMeCharlie" target="_blank" style="word-wrap: break-word; color: rgb(96, 96, 96); font-weight: normal; text-decoration: underline;"><img align="none" height="25" src="https://gallery.mailchimp.com/30eb4093a8a406ae005e7c504/images/91380a54-d5b6-4bc0-8b5c-8de06cdacf93.png" style="border: 0px; outline: none; text-decoration: none; height: auto !important; width: 25px; margin: 0px;" width="25"></a>&nbsp; &nbsp; &nbsp;
																					<a href="http://getmecharlie.tumblr.com" target="_blank" style="word-wrap: break-word; color: rgb(96, 96, 96); font-weight: normal; text-decoration: underline;"><img align="none" height="25" src="https://gallery.mailchimp.com/30eb4093a8a406ae005e7c504/images/36ad85fc-bd99-4d73-bfe8-11af46f273bc.png" style="border: 0px; outline: none; text-decoration: none; height: auto !important; width: 25px; margin: 0px;" width="25"></a>
																				</div><br>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
												<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
													<tbody>
														<tr>
															<td valign="top">
																<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
																	<tbody>
																		<tr>
																			<td valign="top" style="color: rgb(96, 96, 96); font-family: Helvetica; font-size: 11px; line-height: 125%; text-align: left; padding: 9px 18px;">
																				<div style="text-align: center;"><em>Copyright &#169; 2015 Charlie!, All rights reserved.</em>
																					<!-- <br><br><strong>Our mailing address is:</strong><br>123 Street Address, City, AB, USA, 5421<br><br> -->
																					<!-- <a href="http://getmecharlie.us11.list-manage.com/unsubscribe?u=30eb4093a8a406ae005e7c504&amp;id=5799b16002&amp;e=&amp;c=a1d11e8b98" style="word-wrap: break-word; color: rgb(96, 96, 96); font-weight: normal; text-decoration: underline;" target="_blank">
																						<span style="color: rgb(231, 57, 58);">unsubscribe from this list</span>
																					</a>&nbsp;&nbsp;&nbsp;
																					<a href="http://getmecharlie.us11.list-manage.com/profile?u=30eb4093a8a406ae005e7c504&amp;id=5799b16002&amp;e=" style="word-wrap: break-word; color: rgb(96, 96, 96); font-weight: normal; text-decoration: underline;" target="_blank">
																						<span style="color: rgb(231, 57, 58); text-decoration: none;">update subscription preferences</span>
																					</a> -->
																					<span style="color: rgb(231, 57, 58); text-decoration: none;">&nbsp;</span>
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
                                        </tr>
                                    </tbody>
                                </table><!-- // END FOOTER -->
                            </td>
                        </tr>
                    </tbody>
                </table><!-- // END TEMPLATE -->
            </td>
        </tr>
    </tbody>
</table>