/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);


body {
  color: #545454;
  font-family: 'Muli', sans-serif;
}

.charlie-color {
  color: #E7393A;
}

/*css for signup page*/
.signup {
  background-image: linear-gradient(180deg,rgba(0,0,0,.3)0,transparent 10px);
}

.signup .row{
  display: flex;
}
.signup .row .col-md-12 {
  margin: auto;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.signup .form-horizontal {
  display: flex;
  flex-wrap: wrap;
}

.signup .form-group {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5%;
}

.first-name, .last-name {
  width: 50%;
}

input {
  transition: border-bottom-color .25s;
  -webkit-appearance: none;
  appearance: none;
  text-align: left;
  resize: none;
  width: 100%;
  font-weight: 400;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid #e7e7dd;
  border-radius: 0;
  padding: 7px 0;
  color: #444;
  position: relative;
}
.phone, .email, .submit, .submit .btn {
  width: 100%;
}


/*css for payment page*/
.payment {
  background-image: linear-gradient(180deg,rgba(0,0,0,.3)0,transparent 10px);
}
.payment .row {
  margin-top: 5%;
  margin-bottom: 10%;
}
.payment .form-group {
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
}

.thank-you {
  margin-top: 100px;
}

.login {
  margin-top: 100px;
}